@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

.contenedor {
  max-width: 120rem;
  margin: 0 auto; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }
