// * COLORES

$blanco: #fff;
$negro: #000;

$color-principal: #7dd3fc;
$color-principal__oscuro: #38bdf8;
$color-secundario: #d97706;
$color-terciario: #e0f2fe;

// * FUENTES
// xs = extra small
// s = small
// m = medium
// l = large
// xl = extra large

$fuente-xs: 1rem;
$fuente-s: 1.6rem;
$fuente-m: 2.4rem;
$fuente-l: 3.8rem;
$fuente-xl: 4.8rem;
